<h1>Cat Voter</h1>
  <div>
    {{vm.selected.value}}
    <ul>
      <li ng-repeat="cat in vm.cats">
        <a href ng-click="vm.selectedCat(cat);" ng-model="cat">{{cat.name}}</a>
        <img ng-src="https://i.stack.imgur.com/Kg1Do.png" ng-show="cat.tickmark"/>
      </li>

    </ul>
    <br/>
    <div ng-show="vm.selectedOne">
      <span>{{vm.selectedOne.name}}</span><img ng-src="{{vm.selectedOne.url}}" alt="{{selectedOne.name}}" /> Selected Cat clicks:{{vm.selectedCatClicks}}
       
        <a class="btn btn-success"  href="#" id="testBtnDown" ng-click="vm.incrementCatClick()">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </a>
        <a class="btn btn-danger " href="#" id="testBtnDown" ng-click="vm.decrementCatClick()">
            <i class="fa fa-thumbs-down"></i>
        </a>
    </div>

  </div>
  
